@media screen and (max-width: 1280px){
    .form input{
        min-width: 360px;
    }
    .container{
        padding: 30px;
    }

    .header-menu-logo{
        max-width: 120px;
    }
}

@media screen and (max-width: 950px){
    .header-menu-logo{
        max-width: 90px;
    }

    .catalogue-menu{
        display: none;
    }
    .goods__wrapper{
        justify-content: center;
    }

    .shops__wrapper{
        justify-content: center;
    }

    .header-actions-wrapper{
        gap: 55px
    }

    .subheader-links{
        margin-left: 0;
    }

    .header-menu-burger{
        min-width: 50px;
        min-height: 50px;
    }

    .footer__wrapper{
        flex-direction: column;
    }

    .header-login{
        max-width: 25px;
    }

    .header-favorites{
        max-width: 25px;
    }
}

@media screen and (max-width: 798px){
    .header-wrapper{
        flex-direction: column-reverse;
    }

    .header-menu-burger{
        display: none;
    }

    .subheader-wrapper{
        align-items: center;
        margin-bottom: 30px;
    }
    .quick__view-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 550px){
    .next-button, .prev-button{
        top: 80px;
      }
}


@media screen and (max-width: 430px){
    .subheader-wrapper{
        flex-direction: column;
    }

    .next-button, .prev-button{
        max-width: 30px;
      }

    .footer__action{
        flex-direction: column;
    }

    .slider__dots{
        left: 42%;
    }

    .slider__dot{
        width: 10px;
        height: 10px;
    }

    .cart__item-image img {
        min-width: 74px;
        max-height: 92px;
    }

    .cart__date{
        display: none;
    }

    .cart__header-wrapper {
        gap: 100px;
    }

    .cart__amount-text, .cart__amount-text{
        font-size: 14px;
    }

    .quick-view__content {
        max-width: 370px;
    }

    .quick__view-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

