*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }
  
  button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }
:root{
  --font-roboto-regular: "Roboto", sans-serif;
 }
 
  
  li {
      list-style: none;
  }
  
  .container {
    padding-top: 15px;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }

  .subheader-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }


  .subheader-links{
    display: flex;
    margin-left: 330px;
    gap: 35px;
  }

  .subheader-link{
    position: relative;
    font-family: var(--font-roboto-regular);
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
  }

  .subheader-link:last-of-type::after{
    display: none;
  }

  .subheader-link::after{
    content: '';
    background: url(assets/subheader-links-arrow.svg) no-repeat center;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10%;
    right: -15px;
  }

  .subheader-language-icon{
    position: relative;
  }

  .subheader-icons{
    display: flex;
    gap: 12px;
    align-items: baseline;
  }

  .subheader-language-icon::after{
    content: '';
    position: absolute;
    right: -8px;
    color: #000000;
    background: url(assets/Line-13.svg) no-repeat center;
    height: 10px;
    width: 2px;
    bottom: 15%;
  }

  .language-name{
    font-family: var(--font-roboto-regular);
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    position: relative;
  }

  .language-name::after{
    content: '';
    position: absolute;
    right: -8px;
    background: url(assets/Line-13.svg) no-repeat center;
    height: 10px;
    width: 2px;
   bottom: 15%;
  }

  .currency-icon{
  font-family: var(--font-roboto-regular);
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  position: relative;
  }

  .currency-icon::after{
    content: '';
    background: url(assets/subheader-links-arrow.svg) no-repeat center;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10%;
    right: -15px;
  }

  .header-wrapper{
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .header-menu-burger{
    min-width: 75px;
    min-height: 75px;
    background: linear-gradient(96.78deg, #F64D4D -57.09%, #4D5EF6 101.17%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-burger-line{
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin-bottom: 7px;
    border-radius: 3px;
  }

  .form input{
    min-width: 624px;
    min-height: 46px;
    border: 2px solid transparent;
    border-image: linear-gradient(96.78deg, #F64D4D -57.09%, #4D5EF6 101.17%);
    border-image-slice: 1;
  }

  .form input{
    position: relative;
    text-indent: 100px;
   }

  .input-link{
    position: absolute;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(52,85,216,0.1) -46.71%,rgba(255,67,67,0.1) 121.33%);
    max-width: 96px;
    min-height: 38px;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-roboto-regular);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }

  .input-link::after{
    content: '';
    background: url(assets/subheader-links-arrow.svg) no-repeat center;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 40%;
    right: 15px;
  }

  .form input::placeholder{
    position: absolute;
    left: 0;
    top: 35%;
  }

  .label{
    position: relative;
  }


  .loop-icon{
    position: absolute;
    top: -15%;
    right: 28px;
  }
  
  .login-action{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .login-text{
    font-family: var(--font-roboto-regular);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }

  .header-actions-wrapper{
    display: flex;
    gap: 60px;
    align-items: center;
  }

  .login-action:first-of-type img{
    max-width: 21px;
    max-height: 26px;
  }

  .catalogue-list{
    display: flex;
    flex-direction: column;
  }

  .catalogue-menu{
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.12);
    min-width: 296px;
    padding-bottom: 15px;
    max-height: 352px;
  }

  .catalogue-list-item:first-child .list-item{
    background: linear-gradient(96.78deg, #F64D4D -57.09%, #4D5EF6 101.17%);
    max-width: 296px;
    min-height: 36px;
    display: flex;
    padding-left: 38px;
    align-items: center;
    gap: 20px;
    font-family: var(--font-roboto-regular);
    font-weight: 500;
    color: white;
    font-size: 14px;
    line-height: 16px;
  }

  .list-item{
    max-width: 296px;
    margin-bottom: 10px;
    display: flex;
    
    padding-left: 38px;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    font-family: var(--font-roboto-regular);
    font-weight: 300;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
  }

  .list-item img{
    min-width: 21px;
    max-height: 21px;
  }

  .catalogue-wrapper{
    display: flex;
    gap: 30px;
  }

  .catalogue-list-item:last-child{
    font-family: var(--font-roboto-regular);
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    background: linear-gradient(96.78deg, #F64D4D -57.09%, #4D5EF6 101.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    position: relative;
    padding-left: 38px;
  }

  .catalogue-list-item:last-child::after{
    content: '';
    background: url(assets/catalogue-arrow.svg) no-repeat center;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 30%;
    left: 46%;
  }

  .catalogue-list-item:nth-child(10){
    margin-bottom: 10px;
  }

  .slider-wrapper{
    position: relative;
    overflow: hidden;
  }

  .next-button{
    position: absolute;
    top: 150px;
    right: 18px;
  }

  .prev-button{
    position: absolute;
    top: 150px;
    left: 18px;
  }

  .slider{
    display: flex;
    max-width: 950px;
    max-height: 350px;
    position: relative;
    left: 0px;
    transition: all ease 1s;
  }


  .goods__title{
    font-family: var(--font-roboto-regular);
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 20px;
  }

  .goods__item-header{
    margin-bottom: 20px;
  }

  .goods__item{
    max-width: 181px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 11px;
    transition: all ease 0.2s;
  }

  .goods__wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  .item-header-image{
    position: relative;
  }

  .item-image-discount{
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
    font-family: var(--font-roboto-regular);
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    border: 0.5px solid #FF4343;
    border-radius: 8px;
    padding: 2px 6px 4px;
  }

  .goods__item-price{
    font-family: var(--font-roboto-regular);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FF4343;
    display: block;
    
  }

  .goods__item-old-price{
    font-family: var(--font-roboto-regular);
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: rgba(70, 70, 70, 0.55);
    display: block;
    position: relative;
  }

  .goods__item-old-price::after{
    content: '';
    width: 35px;
    height: 2px;
    background-color: #F64D4D;
    position: absolute;
    left: 0;
    top: 40%;
    transform: matrix(1, -0.09, 0.08, 1, 0, 0);
  }


  .price-wrapper{
    display: flex;
    margin-bottom: 8px;
    gap: 20px;
    align-items: center;
  }

  .goods__item-text{
    font-family: var(--font-roboto-regular);
    font-weight: 300;
    font-size: 12px;
    line-height: 124.19%;
    color: #000000;
  }

  .goods__item-text-hover{
    font-family: var(--font-roboto-regular);
    font-weight: 300;
    font-size: 12px;
    line-height: 124.19%;
    color: #000000;
    display: none;
    margin-bottom: 13px;
  }

  .goods__item:hover{
    max-width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .goods__item:hover .item-image-discount{
    display: flex;
  }

  .goods__item:hover .ranking__wrapper{
    display: flex;
  }
  .goods__item:hover .goods__item-button{
    display: flex;
  }

  .goods__item:hover .goods__item-text{
    display: none;
  }

  .goods__item:hover .goods__item-text-hover{
    display: block;
  }

  .ranking__wrapper{
    display: none;
    gap: 25px;
    margin-bottom: 10px;
  }

  .ranking__text{
    position: relative;
    display: block;
    font-family: var(--font-roboto-regular);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    
  }

  .ranking__text::after{
    content: '';
    background: url(assets/star-icon.svg) no-repeat center;
    width: 14px;
    height: 12px;
    position: absolute;
    left: 20px;
  }
  
  .ranking__number{
    display: block;
    font-family: var(--font-roboto-regular);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
  }

  .goods__item-button{
    background: linear-gradient(96.78deg, #F64D4D -57.09%, #4D5EF6 101.17%);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.12);
    padding: 9px 57px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-family: var(--font-roboto-regular);
    color: white;
    display: none;
  }

  .popup{
    position: fixed;
    inset: 0;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.6s;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: -1000px;
    background-color: rgba(174, 175, 184, 0.1);
  }

  .popup:target{
    visibility: visible;
    z-index: 2;
    opacity: 1;
    top: 0;
  }

  .overlay{
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  .cart__content{
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
    min-width: 40vw;
    min-height: 40vh;
    padding: 10px;
    border-radius: 5px;
    }

    .cart__header-wrapper{
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    .cart__date{
      display: block;
      font-family: var(--font-roboto-regular);
      font-weight: 300;
      font-size: 14px;
      line-height: 124.19%;
    }

    .cart__left{
      display: flex;
      align-items: baseline;
      gap: 10px;
    }

    .cart__right{
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .cart__amount-text{
      display: block;
      font-family: var(--font-roboto-regular);
      font-weight: 300;
      font-size: 16px;
      line-height: 124.19%;
    }

    .cart__amount{
      display: block;
      font-family: var(--font-roboto-regular);
      font-weight: 300;
      font-size: 16px;
      line-height: 124.19%;
    }

    .cart__title{
      font-family: var(--font-roboto-regular);
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
    }

    .cart__item{
      display: flex;
      gap: 30px;
      
    }

    .cart__item-image img{
      max-width: 80px;
      max-height: 80px;
    }

    .cart__item-description{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 187px;
    }

    .item__name{
      font-family: var(--font-roboto-regular);
      font-weight: 300;
      font-size: 14px;
      line-height: 124.19%;
    }

    .item__article{
      font-family: var(--font-roboto-regular);
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      display: block;
      margin-bottom: 10px;
    }

    .item__article span{
      font-family: var(--font-roboto-regular);
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
    }

    .item__delete{
      font-family: var(--font-roboto-regular);
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #F64D4D;
    }

    .item__amount{
      font-family: var(--font-roboto-regular);
      font-weight: 300;
      font-size: 14px;
      line-height: 124.19%;
    }

    .item__quantity{
      font-family: var(--font-roboto-regular);
      font-weight: 300;
      font-size: 14px;
      line-height: 124.19%;
    }

    .item__net-amount{
      font-family: var(--font-roboto-regular);
      font-weight: 300;
      font-size: 14px;
      line-height: 124.19%;
    }